body {
    margin: 0;

    header {
        background-color: #041535;
        margin: 0;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 1000;

        .header-nav {

            a {
                padding: 24px;
                height: 100%;
                font: 24px Roboto, sans-serif;
                text-decoration: none;
                color: white;
            }
        }
    }

    main {
        width: auto;
        height: 500px;
        padding-top: 100px;

        h1 {
            font: 55px Roboto, sans-serif;
            font-weight: bold;
            height: auto;
            margin: 5px 0;
            background: linear-gradient(to right, #041535, #a0d8fc);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h2 {
            font-size: 2.4rem;
            margin: 0;
            text-align: center;
        }

        h3 {
            color: #041535;
            font-family: "Roboto", Sans-serif;
            font-size: 1.4rem;
            font-weight: 600;
            
        }

        .Accueil {
            margin-top: 0;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(image/bubbles-header-2.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto;
            background-attachment: scroll;

        }

        .Accueil-profil {
            background-repeat: no-repeat;
            background-size: auto;
            background-attachment: scroll;
            height: auto;
            width: 1200px;
        }

        .Accueil-profil-logo {
            height: auto;
            width: 250px;

            img {
                margin: 20px 20px;
                width: 70px;
            }
        }

        .Accueil-profil-title {
            margin-left: 0px;
            width: 500px;

        }

        .Accueil-profil-description {
            margin-left: 0px;
            width: 635px;

            p {
                font: 35px Roboto, sans-serif;
                font-weight: bold;
                width: auto;
                height: auto;
                margin: 20px 0px;
                margin-bottom: 50px;
            }
        }

        .Accueil-profil-contener-realisation {
            display: flex;
            justify-content: flex-end;
            background: linear-gradient(to right, #041535, #a0d8fc);

            .main-realisation {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: 50%;
                height: 150px;

                a {
                    padding: 24px;
                    font: 28px Roboto, sans-serif;
                    background-color: #041535;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    width: auto;
                    height: 30px;
                    border-radius: 10px;
                }
            }
        }


        #profil {
            background-color: #a0d8fc;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px 32px 0 32px;


            .profil-title {
                display: flex;
                justify-content: center;
                height: 100%;
                font: 20x Roboto, sans-serif;
                text-decoration: none;
                padding-top: 80px;
            }

            .profil-conteneur {
                display: flex;
                height: 400px;
                width: 1200px;


                .profil-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;

                    img {
                        width: 248px;
                        height: 240px;
                        border-style: solid;
                        border-width: 2px 2px 2px 2px;
                        border-color: #041535;
                        border-radius: 25px 25px 25px 25px;
                    }
                }

                .profil-descriptif {
                    width: 50%;
                    margin: 10px 0px;

                    p {
                        font-size: 20px;
                        margin: 30px 20px;
                    }
                }
            }

            .profil-conteneur-widget {
                /* background-image: url(image/bubbles-4.png); */
                padding: 10px;
                width: 1905px;
                height: auto;


                .profil-conteneur-widget-Zone {
                    padding: 30px 350px;
                    display: flex;

                }

                .profil-conteneur-widget-Zone-slide {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding: 20px;
                    margin: 16px;
                    width: 33.333%;
                    margin: 20px;
                    border-radius: 16px;
                    background-color: #ffffff;
                    border-style: solid 3px;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                    line-height: 1.85714285714286;

                    p {
                        margin: 0;
                        text-align: center;
                        color: #000000;
                        font-size: large;
                    }


                    .profil-conteneur-widget-i {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        background-color: #041535;
                        width: 90px;
                        height: 90px;
                        display: flex;
                        border-radius: 100px;


                        i {
                            color: rgb(0, 0, 0);
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        #competences {
            background-color: #ffffff;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                display: flex;
                justify-content: center;
            }

            .competences-section {
                display: flex;
                border-radius: 10px;
                border-style: solid;
                background-color: #041535;

                .competences-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    font: 20x Roboto, sans-serif;
                    text-decoration: none;
                }

                .competences-conteneur-widget {
                    display: flex;
                    width: 250px;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 20px;

                    p {
                        font: 35px Roboto, sans-serif;
                        justify-content: center;
                        font-size: 20px;
                        color: white;
                    }

                    i {
                        color: rgb(0, 0, 0);
                        font-size: 50px;
                        color: white;

                    }
                }

            }

        }

        #portfolio {
            background-color: #a0d8fc;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .portfolio-title {
                display: flex;
                justify-content: center;
                height: 100%;
                font: 20x Roboto, sans-serif;
                text-decoration: none;
            }
        }

        #contact {
            background-color: #ffffff;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .contact-title {
                display: flex;
                justify-content: center;
                height: 100%;
                font: 20x Roboto, sans-serif;
                text-decoration: none;

            }
        }

    }
}