body {
    margin: 0;

    header {
        background-color: #041535;
        margin: 0;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100px;

        .header-nav {

            a {
                padding: 24px;
                height: 100%;
                font: 24px Roboto, sans-serif;
                text-decoration: none;
                color: white;
            }
        }
    }

    main {
        width: auto;
        height: auto;
        padding-top: 100px;

        .Accueil {
            margin-top: 0;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(image/bubbles-header-2.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto;
            background-attachment: scroll;

        }

        .Accueil-profil {
            background-repeat: no-repeat;
            background-size: auto;
            background-attachment: scroll;
            height: auto;
            width: 1200px;
        }

        .Accueil-profil-logo {
            height: auto;
            width: 250px;

            img {
                margin: 20px 20px;
                width: 70px;
            }
        }

        .Accueil-profil-title {
            margin-left: 0px;
            width: 500px;

            h1 {
                font: 55px Roboto, sans-serif;
                font-weight: bold;
                height: auto;
                margin: 5px 0;
                background: linear-gradient(to right, #041535, #a0d8fc);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .Accueil-profil-description {
            margin-left: 0px;
            width: 635px;

            p {
                font: 35px Roboto, sans-serif;
                font-weight: bold;
                width: auto;
                height: auto;
                margin: 20px 0px;
                margin-bottom: 50px;
            }
        }

        .Accueil-profil-contener-realisation {
            display: flex;
            justify-content: flex-end;
            background: linear-gradient(to right, #041535, #a0d8fc);

            .main-realisation {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: 50%;
                height: 150px;

                a {
                    padding: 24px;
                    font: 28px Roboto, sans-serif;
                    background-color: #041535;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    width: auto;
                    height: 30px;
                    border-radius: 10px;
                }
            }
        }


        #profil {
            background-color: #a0d8fc;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px 32px 0 32px;


            .profil-title {
                display: flex;
                justify-content: center;
                height: 100%;
                font: 20x Roboto, sans-serif;
                text-decoration: none;

                h2 {
                    margin: 0;
                }
            }

            .profil-conteneur {
                display: flex;
                height: 400px;
                width: 1200px;


                .profil-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;

                    img {
                        width: 248px;
                        height: 280px;
                        border-style: solid;
                        border-width: 2px 2px 2px 2px;
                        border-color: #041535;
                        border-radius: 25px 25px 25px 25px;
                    }
                }

                .profil-descriptif {
                    width: 50%;
                    margin: 10px 0px;

                    p {
                        font-size: 20px;
                        margin: 30px 20px;
                    }
                }
            }

            .profil-conteneur-widget {
                /* background-image: url(image/profil-bubbles-4.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto;
                background-attachment: scroll; */
                height: auto;
                width: auto;
                padding: 32px;

                height: auto;
                width: auto;
                padding: 0;
                background-position: top center;

                img {
                    width: 1905px;
                    height: auto;
                    background-position: top center;
                    margin: 0;
                }
            }
        }

        #competences {
            background-color: #a0d8fc;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .competences-title {
                display: flex;
                justify-content: center;
                height: 100%;
                font: 20x Roboto, sans-serif;
                text-decoration: none;

                h2 {
                    margin: 0;
                }
            }
        }

        #portfolio {
            background-color: #a0d8fc;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .portfolio-title {
                display: flex;
                justify-content: center;
                height: 100%;
                font: 20x Roboto, sans-serif;
                text-decoration: none;

                h2 {
                    margin: 0;
                }
            }
        }

        #contact {
            background-color: #a0d8fc;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .contact-title {
                display: flex;
                justify-content: center;
                height: 100%;
                font: 20x Roboto, sans-serif;
                text-decoration: none;

                h2 {
                    margin: 0;
                }
            }
        }

    }
}